.home{
    font-size: 50px;
}

.date{
    font-size: 35px;
}

body{
    padding-top: 150px;
}

header{
    height: 120px;
    background-color: wheat;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.title{
    color: inherit;
    text-decoration: inherit;
}

.workout-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}